<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main bg-zinc-900 min-h-screen px-10 py-5">
        <a class="block text-blue-400 underline" href="/">Go back to Home </a>
        <form class="flex flex-col min-w-64 " action="/edit" method="post">
            <input class=" outline-none w-1/2 mt-5 p-3 text-2xl text-slate-500 bg-zinc-800  rounded-lg tracking-tight"
                placeholder="Previous Title" type="text" name="previous" value="<%= filename%>" readonly="readonly">
            <input class="w-1/2 outline-none mt-3 p-3 text-2xl text-slate-400 bg-zinc-800 rounded-lg tracking-tight" placeholder="New Title" type="text" name="new" >    
            <input class="w-28 mt-2 text-xl bg-red-600 p-2 rounded-lg" value="Save" type="submit">
        </form>
    </div>
</body>
</html>